@import "~react-image-gallery/styles/css/image-gallery.css";

.banner {
  /* z-index: 0 !important; */
  position: relative !important;
}
.banner .image-gallery .image-gallery-slide img {
  height: 28rem;
  object-fit: cover;
}

.description {
  background-color: black !important;
  width: 30%;
  opacity: 0.45;
  z-index: 1;
  top: 20%;
  color: white !important;
  font-weight: 600;
  position: absolute !important;
}

@media (max-width: 768px) {
  .description h3 {
    font-size: 1rem;
  }
  .description p {
    font-size: 0.75rem;
  }
  .banner .image-gallery .image-gallery-slide img {
    height: 20rem;
    object-fit: cover;
  }
}
